body {
    font-family: "Open Sans", sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 1980px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 12px;
}

th {
    background-color: #f8f8f8;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn-delete {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #d32f2f;
}

.btn-edit {
    padding: 5px 10px;
    background-color: #51a5f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #3fa1f4;
}

.btn-add-price {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Butonun genişlemesini sağlar */
    text-align: center; /* Metni ortalar */
    white-space: normal; /* Metnin taşmasını önler */
}

.btn-add-price:hover {
    background-color: #45a049;
}

.table-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td.actions {
    width: 180px;
    white-space: nowrap;
}
