body {
    font-family: "Open Sans", sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background-color: #ccc;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 12px;
}

th {
    background-color: #f8f8f8;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
