body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #666666;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #218838;
}

.msg {
    text-align: center;
    color: #28a745;
    margin-bottom: 20px;
}

/*footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    color: black;
    text-align: center;
}